body {
    text-align: center;
    
  }
  
  nav {
    background-color: rgb(221, 245, 9);
    padding: 10px;
  }
  
  a {
    color: rgb(3, 0, 0);
    margin: 50px;
  }
  
  h1 {
    color: #dbf307;
  }
  
  img {
    width: 800px;
    border: 4px solid #804400;
  }
  
  p {
    padding: 10px;
  }
  
  footer {
    background-color: #6d8000;
    color: white;
  }